{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "arrowParens": "always",
  "printWidth": 120,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true
}
